* {
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

#center {
    position: relative;
    margin: auto;
    width: 70%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: darkslategray;
    color: wheat;
    font-weight: bold;
    border: 5px solid #ccc;
    border-radius: 20px;
}

#calculadora {
    position: relative;
    margin: 5% auto;
    width: 400px;
    height: 600px;
    border: 1px solid #555;
    border-radius: 20px;
    background: #aaa;
}